#window {
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
}

entry {
  background-color: rgba(0, 0.2, 0, 0.5);
  color: #fff;
}

box#main {
  border-radius: 10px;
  background-color: rgba(0, 0.2, 0, 0.5);
  color: #fff;
}

list#main {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 14px;
}

list#plugin {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

label#match-desc {
  font-size: 14px;
  color: #fff;
}

label#plugin {
  font-size: 18px;
  color: #fff;
}
